.weather-container {
    display: flex;
    flex-wrap: wrap;
    /* Allows the boxes to wrap onto the next line if necessary */
    justify-content: center;
    /* Center-aligns the boxes horizontally */
    gap: 10px;
    /* Adds space between the boxes */
}

.weather-day {
    width: 500px;
    border-radius: 10px;
    /* Rounded corners for the box */
    padding: 20px;
    /* Padding inside the box */
    margin: 10px;
    /* Spacing around the box */
    text-align: center;
    /* Center-align text inside the box */
    background-color: rgb(63 63 70);
    /* Background color of the box */
    height: 250px;
    /* Fixed height for equal sizing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.curr-weather-day {
    border-radius: 10px;
    /* Rounded corners for the box */
    padding: 20px;
    /* Padding inside the box */

    height: 250px;
    /* Fixed height for equal sizing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: white;
}

#dateHeading,
#todayHeading {
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 162, 255);
}

#todayHeading {
    font-size: 30px;
    font-weight: 600;
}

.weather-day img {
    max-width: 100px;
    /* Limit the size of the weather icon */
    margin: 0 auto;
    /* Center the image */
    padding: 0px 10px;
}


#location {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: orange;
}

#heading {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: orange;
    margin-top: 20px;
}

.error {
    color: rgb(211, 3, 3);
    font-size: 1.5rem;
}

#searchbutton,
#currentbutton {
    padding: 8px 20px;
    margin: 0px 10px;
}