#dateHeading,
#todayHeading {
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 162, 255);
}

#todayHeading {
    font-size: 30px;
    font-weight: 600;
}

.weather-day img {
    /* Limit the size of the weather icon */
    margin: 0 auto;
    padding: 0px 10px;
}

#locationname {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: orange;
}

.upcoming-forcast-heading {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: orange;
    margin-top: 20px;
}

.error {
    color: rgb(211, 3, 3);
    font-size: 1.5rem;
}

#search-button,
#current-location-button {
    padding: 8px 20px;
    margin: 0px 10px;
}